<!DOCTYPE html>
<html>
<head>   
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title></title>
</head>
<body>

	<div class="container">
		<div class="jumbotron">

			<h1><%=@post.title%></h1>	
			<p><%=@post.content%></p>		

		</div>
		<div class="row">
			<div class="col-md-6">
				<ul>
				<%@comments.each do |c|%>
					<li><%=c.user.username%> says: <%=c.content%> <br> </li>
				<%end%>
			</ul>
			</div>
			<div class="col-md-3">
				<ul>
				<%@users.each do |c|%>
					<li><%=link_to c.username, user_path(c) %></li>
				<%end%>			
			</ul>
			</div>

			<div class="col-md-3">
				<ul>
				<%@categories.each do |c|%>
					<li><%= c.name %></li>
				<%end%>			
			</ul>
			</div>

			<div class="col-md-6">
				<h5>Create new comment</h3>
					<%= form_for @comment do |f| %>

						<%= f.label :content %>
						<%= f.text_field :content %>
						
						<%#= f.text_field :user_name, list: "categories_autocomplete"%>
  						<!--datalist id="categories_autocomplete">
    						<#% User.all.each do |user| %>
      							<%# option value="<%= user.username %>">
    						<#% end %>
  						</datalist-->


<%#byebug%>

						
<br>
						<%= f.label :user_id %>
				  		<%= f.collection_select :user_id, User.all, :id, :username, include_blank:"" %>

						<%= f.fields_for :user do |user_field| %>

							<%= user_field.label :username %>
 							<%= user_field.text_field :username %>
 						<% end %>
<br>

  						<%= f.hidden_field :post_id, value: @post.id%>

				 	<%= f.submit %>
				<% end %>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
